<!-- app.component.html -->
<div class="voting-app">
  <div class="panel-container">
  <div class="panel">
    <div class="panel-header">
      <h3>Voters</h3>
      <button class="add-button" (click)="addVoter()">
        add Voter
      </button>
    </div>
    <table>
      <tr>
        <th>Name</th>
        <th>Has voted</th>
      </tr>
      <tr *ngFor="let voter of voters">
        <td>{{ voter.name }}</td>
        <td>{{ voter.hasVoted ? '✓' : '×' }}</td>
      </tr>
    </table>
  </div>

  <div class="panel">
    <div class="panel-header">
      <h3>Candidate</h3>
      <button class="add-button" (click)="addCandidate()">
        add Candidate
      </button>
    </div>
    <table>
      <tr>
        <th>Name</th>
        <th>Votes</th>
      </tr>
      <tr *ngFor="let candidate of candidates">
        <td>{{ candidate.name }}</td>
        <td>{{ candidate.votes }}</td>
      </tr>
    </table>
  </div>
  </div>
  <div class="panel vote-panel">
    <h3>Vote!</h3>
    <div>
      <label>I am:</label>
      <select [(ngModel)]="selectedVoter">
        <option *ngFor="let voter of voters" [ngValue]="voter">{{ voter.name }}</option>
      </select>
    </div>
    <div>
      <label>I vote for:</label>
      <select [(ngModel)]="selectedCandidate">
        <option *ngFor="let candidate of candidates" [ngValue]="candidate">{{ candidate.name }}</option>
      </select>
    </div>
    <button (click)="submitVote()">Submit</button>
  </div>
</div>