/* app.component.css */
.voting-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

.panel-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.panel {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
}
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.panel-header h3 {
  margin: 0;
}

.add-button {
  background-color: #8d9b7e;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.vote-panel {
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
}

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  label {
    margin-right: 10px;
  }
  
  select, button {
    margin-bottom: 10px;
  }